:root{
    --background:hsl(230, 17%, 14%);
    --background-top:hsl(232, 19%, 15%);
    --card-bg:hsl(228, 28%, 20%);
    --white:hsl(0, 0%, 100%);
    --blue:hsl(228, 34%, 66%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: var(--background);
    margin: 0;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

/* Song items styles */
.container, .player-container {
    width: 70vw;
    height: 70vh;
    background: var(--card-bg);
    overflow-y: scroll;
    border-radius: 8px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    margin: 1rem;
}
.welcome {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--blue);
}
.song-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-top);
    padding: 0.5rem;
    border-radius: 8px;
}

.song-list {
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    gap: 0.8rem;
}

.song-item .song-details {
    display: flex;
    gap: 0.5rem;
    
}
.song-details img {
    height: 45px;
    width: 45px;
}

.song-details .artist {
    color: var(--blue);
}
.song-details .song-detail {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.song-details .song-name {
    font-size: 18px;
}

@media screen and (max-width:375px) {
    .container { 
        width: 98vw;
        height:98vh;
    }

    .song-list { 
        padding: 1rem;
    }
}

/* Player Styles */
.player {
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 0.8rem;
    margin: 2rem;
}

.player-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.song-items {
    /* height: 30%; */
    overflow-y: scroll;
}
.player-container .song-list{
    padding: 0 1rem 1rem 1rem;
}
.player-container { 
    height: 90vh;
}
.player-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-img img {
    max-width: 25%;
}
.player-head p{
    text-align: center;
}
.palying-song {
    display: flex;
    justify-content: space-between;
}
.song-artist{
    text-align: center;
    font-size: 12px;
}
.song-playing-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.player-conrols {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
.controls {
    font-size: 1.5rem;
    display: flex;
    gap: 1.3rem;
}
.sound,.heart {
    font-size: 1.2rem;
}

.hide {
    display: none !important;
}
.container {
    /* display: none; */
}
.player-container {
    /* display: none; */
}

.bar {
    display: flex;
    justify-content: space-around;
}
.progress-bar-container {
    width: 300px;
     background-color: #d9d9f2; 
    cursor: pointer;
    border-radius: 10px;
    height: 5px;
    align-self: center;
}
.progress-bar {
    width: 0%;
    height: 5px;
    background-color: #ffc266;
    border-radius: 10px;
}

.green-border {
    border: green 1px solid;
}
.red {
    color: #ff4d67;
}
@media screen and (max-width:375px) {
    .player-container { 
        width: 100vw;
        height: 100vh;
    }

    .player{
        margin: 0.5rem;
    }

    .player-img img {
        max-width: 60%;
    }
    .progress-bar-container {
        width: 200px;
    }
}